
.container {
    display: flex;
  
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }

 .logo{
     margin-top: 25px;
     margin-left: 12%;
     width: 70px;
     height: 70px;
}

.icon{
    position: absolute;
  
   top: 30px;
    margin-left: 80%;
   
}
.p{
   margin-left: 0.5em;
   height: 2em;
   width: 2em;
   border-radius: 25%;
}

